@font-face {
    font-family: 'Audi Type';
    src: url(../assets/fonts/AudiType-Normal.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Audi Type';
    src: url(../assets/fonts/AudiType-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: 'Audi Type Ext';
    src: url(../assets/fonts/AudiType-ExtendedNormal.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Audi Type Ext';
    src: url(../assets/fonts/AudiType-ExtendedBold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
  }