.spl{
    &__container{
        font-family: 'Audi Type';
        display: flex;
        flex-direction: column;
        
        & header{
            color: $color-main;
            font-family: 'Prompt', sans-serif;
            font-size: 25px;
            text-align: center;
            padding-top: 18px;

            & a {
                color: $color-main;
                text-decoration: none;
            }
        }
    }

    &__central-container{
        width: 930px;
        height: 529px;
        margin: auto;
        margin-top: 200px;
        padding: 27px 32px;
        display: flex;
    }
}