.container {
  margin: 0 auto;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;

  //@include vp--2559 {
  //  padding: 0 40px;
  //}

  .footer {
    margin-top: auto;
  }
}