@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto Condensed';

    font-display: swap;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url("../../assets/fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: 'Roboto Condensed';

    font-display: swap;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
    url("../../assets/fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../../assets/fonts/RobotoCondensed-Bold.woff") format("woff");
}
