.footer {
    background-color: #fff;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    align-items: center;
    background-color: #fff;
    font-family: 'Audi Type';
    // можно попробовать растянутый Ext
    font-weight: bold;
    color: #000;
    font-size: 13px;
    transition: background-color 1s ease;

    .footer__rss-developers {
        display: flex;
        width: 45%;
        justify-content: space-between;
    }

    a {
        display: flex;
        align-items: center;
        color: inherit;
    }

    @include vp--529 {
        flex-direction: column;

        .footer__rss {
            margin-bottom: 25px;
        }

        .footer__rss-developers {
            width: 80%;
            margin-bottom: 25px;
        }
    }
}

.footer__wrapper-dark {
    color: #D9D9D9;
    background-color: #262626;

    svg {
        fill: #D9D9D9;
    }
}

.footer__rss {
    // margin-left: auto;

    svg {
        width: 120px;

        .st0 {
            fill: #fff
        }

        .st1 {
            clip-path: url(#SVGID_2_)
        }

        .st2 {
            clip-path: url(#SVGID_4_)
        }

        .st3 {
            clip-path: url(#SVGID_6_)
        }

        .st4 {
            clip-path: url(#SVGID_8_)
        }

        .st5 {
            fill: #fff;
            stroke: #000;
            stroke-width: 4;
            stroke-miterlimit: 10
        }

        .st6 {
            clip-path: url(#SVGID_8_)
        }

        .st6, .st7 {
            fill: none;
            stroke: #000;
            stroke-width: 4;
            stroke-miterlimit: 10
        }

        .st8, .st9 {
            clip-path: url(#SVGID_10_)
        }

        .st9 {
            fill: none;
            stroke: #000;
            stroke-width: 4;
            stroke-miterlimit: 10
        }
    }
}

.footer {
    background-color: #fff;
    transition: background-color 1s ease;
}

.footer-dark {
    background-color: #262626;
    transition: background-color 1s ease;
}