.footer__wrapper {
    // display: flex;
    padding: 0 20px 0 20px;
    height: 70px;
    align-items: center;
    // padding-bottom: 20px;
    // padding-top: 20px;
    background-color: #fff;
    font-family: 'Audi Type';
    // можно попробовать растянутый Ext
    font-weight: bold;
    color: #000;
    font-size: 13px;

    .footer__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 70px;
        // width: 100%;
    }

    .footer__rss-developers {
        display: flex;
        width: 440px;
        justify-content: space-between;
        // gap: 100px;
    }

    .footer__info a {
        display: flex;
        align-items: center;
        color: inherit;
    }
}

.footer__rss {
    // margin-left: auto;

    svg {
        width: 120px;

        .st0 {
            fill: #fff
        }

        .st1 {
            clip-path: url(#SVGID_2_)
        }

        .st2 {
            clip-path: url(#SVGID_4_)
        }

        .st3 {
            clip-path: url(#SVGID_6_)
        }

        .st4 {
            clip-path: url(#SVGID_8_)
        }

        .st5 {
            fill: #fff;
            stroke: #000;
            stroke-width: 4;
            stroke-miterlimit: 10
        }

        .st6 {
            clip-path: url(#SVGID_8_)
        }

        .st6, .st7 {
            fill: none;
            stroke: #000;
            stroke-width: 4;
            stroke-miterlimit: 10
        }

        .st8, .st9 {
            clip-path: url(#SVGID_10_)
        }

        .st9 {
            fill: none;
            stroke: #000;
            stroke-width: 4;
            stroke-miterlimit: 10
        }
    }
}
