.sign-in-container {
    padding: 30px;
    height: calc(100vh - 100px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    .window-container {
        display: flex;
        height: 530px;
        width: 930px;
        margin: 0 auto;  
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        border-radius: 44px;
        .form__sign-up-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 50%;
            .h2-hehe {
                font-family: 'Audi Type Ext';
                font-weight: bold;
                color: #000;
                font-size: 20px;
                line-height: 24px;
            }
        }
        .beatiful-picture-container {
            width: 50%;
            .picture {
                margin: 24px 24px 24px 0;
                background: url(../assets/png/123.png);
                // качество норм надыбать
                width: 438px;
                height: 481px;
                border-radius: 28px;
                background-size: contain;
            }
        }
    }
}

