.input-container {
    position: relative;
    width: 290px;

    .input-error {
        border: #F80000 1px solid;
        color: #F80000;
    }

    label {
        color: #000;
        font-family: inherit;  
        background-color: transparent;
        font-size: 16px;
        line-height: 16px;
        padding: 5px 10px;
        pointer-events: none;
        position: absolute;
        transition: all 200ms;
        top: 12px;
        left: 10px;
        background-color: transparent;
    }

    .label-error {
        color: #F80000;
    }
}

input {
    background-color: transparent;
    border: 1px solid #797979;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    line-height: 20px; 
    height: 50px;
    outline: 0;
    padding: 15px 0 15px 20px;
    width: 100%;
}

input:focus + label,
input:not(:placeholder-shown) + label{
top: -18px;
left: 10px;
font-size: 11px;
background-color: transparent;
padding: 2px 10px;
}
