.input {
    width: 290px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #797979;
    border-radius: 15px;
    padding: 15px 0 15px 20px;

    &::placeholder {
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
    }
}

// доделать стейты